@import '../../sources/styles/variables.scss';

.header {
  border: 1px solid $brandColor;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1112px;
    margin: 0 auto;
    padding: 10px;

    .title {
      font-size: 25px;
      font-weight: 600;
    }
    .icon {
      margin-right: 7px;
      color: $brandColor;
    }
  }
}
