@import '../../sources/styles/variables.scss';

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid $brandColor;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1112px;
    margin: 0 auto;
    padding: 10px;

    .title {
      font-size: 25px;
      font-weight: 700;
      color: $brandColor;
    }
    .icon {
      margin-right: 7px;
      color: $brandColor;
    }
  }
}
