$defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif,
  Verdana, sans-serif;
$defaultFontSize: 14px;
$brandColor: #23a6d5;
$textColor: #252932;
