@import '../../../sources/styles/variables.scss';
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 20px 15px;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $brandColor;
  }
}
